*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    min-height: 100%;
    background-color: #e6e201;
    background-size:cover;
    .Title{
        background-color: rgb(0, 0, 0);
        min-height: 20%;

    }
}
h1{
    text-align: center;
    color: rgb(238, 255, 0);
    text-shadow: 2px 2px rgb(52, 58, 4);
    font-size: 500%;
    white-space: wrap;
    padding: 3% 5% 3% 5%;
    font-family: fantasy;
}
.Words{
    flex-wrap: wrap;
    display: inline-flex;
    
}
.Fattext{
   
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    border-radius: 15px 15px 15px 15px;
}
p{

    padding: 5% 5% 5% 5%;
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    position: absolute;
    top: 70%;
    left: 10%;
    right: 35%;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 300%;
    opacity: 0%;
   
}

.fire-btn{
    position: relative;
    margin-left: 35%;
    margin-top: 2%;
    margin-right: 35%;
    background: rgb(33, 197, 0);
    color:rgb(255, 230, 0);
    font-weight: bold;
    padding: 1% 1%;
    font-size: 100%;
    border-radius: 3px;
     
}
.image-button{
    position: relative;
    background-image: url(heart-png--3100-3104799477.png);
    background-size: cover;
    background-color: #e6e201;
    border: none;
    cursor: pointer;
    width: 5%;
    height: 2%;

}
.waschbaer{
    margin-top: 15%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10%;
    position: relative;
    max-height: fit-content;
}
.waschbaerparty{
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10%;
    position: relative;
    max-height: fit-content;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    

}


