*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background-color: #000000;
    background-size:cover;
}

button{
    position: absolute;
    top: 40%;
    left: 30%;
    right: 30%;
    transform: translate(-50, -50);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}